* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: "Gemunu Libre", sans-serif;
}
input, select {
    font-size: 30px; 
    border-radius: 4px;
    box-shadow: 1px 1px 1px black;
    margin: 5px;
}
h1 {
    font-size: 60px;
    padding: 60px;
}
h1 > span {
    color: rgba(115, 96, 193, 0.645);
}
.itensS {
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 31px;
}
.itensS:hover {
    background-color: rgb(197, 192, 192);
    color: rgb(255, 255, 255);
}
.itensD {
    height: 100px; 
}

.tabela{
    margin: 90px;
    background-color: rgb(255, 255, 255);
    color: rgb(179, 179, 179);
}




/* Estilos para telas maiores que 768px */
@media screen and (min-width: 768px) {
    h1 {
        font-size: 60px;
        padding: 60px;
    }

    h1 > span {
        color: rgba(115, 96, 193, 0.645);
    }

    input, select {
        font-size: 30px;
        margin: 5px;
    }

    .itensS {
        font-size: 31px;
    }

    .itensD {
        height: 100px;
    }

    .tabela {
        margin: 90px;
    }
}

/* Estilos para telas menores ou iguais a 768px */
@media screen and (max-width: 768px) {
    h1 {
        font-size: 40px;
        padding: 30px 0;
    }

    input, select, .itensD {
        font-size: 20px;
        margin: 10px 0;
        width: 90%;
        max-width: 400px;
        padding: 10px;
    }

    .itensS {
        font-size: 24px;
        padding: 12px 24px;
        margin: 10px;
    }

    .tabela {
        margin: 30px auto;
        padding: 10px 20px;
    }
}
