* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: "Gemunu Libre", sans-serif;
}
input, select {
    font-size: 30px; 
    border-radius: 4px;
    box-shadow: 1px 1px 1px black;
    margin: 5px;
}

h1 {
    font-size: 60px;
    padding: 60px;
}
h1 > span {
    color: rgba(115, 96, 193, 0.645);
}
.itensS {
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 31px;
}
.itensS:hover {
    background-color: rgb(197, 192, 192);
    color: rgb(255, 255, 255);
}
.itensD {
    height: 100px; 
}

.tabela{
    margin: 90px;
    background-color: rgb(255, 255, 255);
    color: rgb(179, 179, 179);
}
#dataAtual{
    width: 231px;
    height: 29px;
}

.container{
    background-color: aqua;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 10px;
    padding-top: 40px;
    border-radius: 20px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.254);
    
    
}




